services:
  embedder:
    build: ./embedder
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "bash", "-c", "echo > /dev/tcp/localhost/3002"]
      interval: 5s
      timeout: 15s
      retries: 5
      start_period: 15s
    ports:
      - "3002:3002"
    env_file:
      - .env
    environment:
      # EMBEDDING_MODEL_NAME: intfloat/multilingual-e5-large-instruct
      EMBEDDING_MODEL_NAME: jinaai/jina-embeddings-v3
    volumes:
      - ./data/hf_cache:/root/.cache/huggingface
    networks:
      - qdrant-ltm

  qdrant:
    image: docker.io/qdrant/qdrant
    restart: unless-stopped

    ports:
      - "6333:6333"
    volumes:
      - ./data/qdrant:/qdrant/storage
    networks:
      - qdrant-ltm

  backend:
    build: ./backend
    restart: unless-stopped
    ports:
      - "3001:3001"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - EMBEDDER_URL=http://embedder:3002
      - QDRANT_HOST=qdrant
    depends_on:
      embedder:
        condition: service_healthy
      qdrant:
        condition: service_started
    networks:
      - qdrant-ltm

  frontend:
    build: ./frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_BACKEND_API_URL=http://backend:3001
    depends_on:
      - backend
    networks:
      - qdrant-ltm

networks:
  qdrant-ltm:
    driver: bridge